# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Admin\AppData\Roaming\JetBrains\DataGrip2020.3\projects\DB_STEP\.idea/dataSources/
/dataSources.local.xml
